.cover-slider-wrap {
  position: relative;
  max-width: 640px;
  height: 480px;
  margin: 2em auto;
  padding: 5em 1em;
  color: #fff;
  line-height: 2;
  font-weight: bold;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}

.cover-slider-inner {
  position: relative;
  min-height: 40em;
  text-align: center;
  z-index: 10;
}

.cover-slider {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cover-slider-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 100%;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
  list-style: none;
  z-index: 0;
  opacity: .5;
}

.cover-slider-slide:nth-child(1) { background-image: url("images/kbt.jpg"); }

.cover-slider-slide:nth-child(2) { background-image: url("images/scf.jpg"); }

.cover-slider-slide:nth-child(3) { background-image: url("images/kbf.jpg"); }

.cover-slider-slide:nth-child(4) { background-image: url("images/sc1.jpg"; }
